[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
black = "*"
mypy = "*"
flake8 = "*"
isort = "*"
psycopg2 = "*"
sqlalchemy = "*"
sq-black = "==2019.1.15"
email-validator = "*"
passlib = {extras = ["bcrypt"], version = "*"}
python-jose = {extras = ["cryptography"], version = "*"}
python-multipart = "*"
pydantic = {extras = ["dotenv"], version = "*"}

[dev-packages]

[requires]
python_version = "3.11"
